[core]
    editor = nvim

[diff]
    tool = vimdiff

[merge]
    tool = vimdiff

[user]
    name = Damien Pretet
    email = damien.pretet@me.com

[color]
    ui = true

[alias]
    ck = checkout
    co = !bash "git-commit.sh"
    ps = push origin
    pl = pull origin
    cl = clean -fd
    st = status
    root = rev-parse --show-toplevel
